.row {
  display: flex;
  justify-content: space-between;
}

.column-half {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.column-full {
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

.title-row {
  display: flex;
  justify-content: space-between;
}
